
<!--===CARROUSEL===-->
<div id="slides_control">
    <div class="container full-container">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}">
                <div class="carousel-caption">
                    <h2>{{'slides.title.' + slide.title| translate}}</h2>
                    <p style="font-size: large">{{'slides.content.' + slide.content| translate}}</p>
                </div>
            </slide>
        </carousel>
    </div>
</div>
<!--===END-CARROUSEL===-->

<div class="main-body container">   
    <div class="wrap-thumb top-default">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="thumb in thumbs">
                <div class="thumbnail">
                    <img class="img-rounded" src="{{thumb.image}}" style="height: 282px">
                    <div class="caption text-center">
                        <h3>{{'home.thumbs.title.'+thumb.title|translate}}</h3>
                        <p class="justify">{{'home.thumbs.content.'+thumb.content|translate}}</p>
                        <p><a href="#/{{thumb.title}}" class="btn btn-success" role="button">Ver</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>