/* app css stylesheet */

/*@import url(http://fonts.googleapis.com/css?family=Abel);

*/html,body{
    /*background-color: rgba(238,238,238,0.9);*/ 
    background-color: #EDEDED; 
    height: 100%;
    /*    font-family:'Abel', sans-serif !important;
        font-size: medium;*/
}

.overflow-hidden{
    overflow-y: hidden;
}

#navbar-soda{
    background-color: #6C7A89;
    height: 75px;
}

/*MAIN-BODY*/
.main-body{
    min-height: 450px;
    background-color: white;
    border-radius: 25px;
    margin-top: 8px;
    -webkit-box-shadow: 0px 3px 10px #999;
    -moz-box-shadow: 0px 3px 10px #999;
}

.menu-main{
    padding: 0;
    margin-bottom: 0;
}

#menu-main{
    margin-bottom:8px;
    -webkit-box-shadow: 3px 3px 5px #999;
    -moz-box-shadow: 3px 3px 5px #999;       
}

#menu-main .title-menu{
    color: #303030 ;
}

/*Events-handlers-styles*/

#wrap-main{
    min-height:100%;
    position:relative;

}

#footer-main{
    -webkit-box-shadow: 0px -1px 10px #999;
    -moz-box-shadow: 0px -1px 10px #999;
    box-shadow: 0px -1px 10px #999;
    width: 100%;
    min-height: 150px;
    position: absolute;
    bottom: 0;
    background-color: #6C7A89;
    color: white;
}

#separator{
    display: block;
    height: 200px;
}

.navbar .nav>li>.dropdown-menu{
    margin-top: 1px !important;
    border-radius: 12px !important;
}

.navbar .nav>li>.dropdown-menu:after {
    content: '';
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #434A54;
    position: absolute;
    top: -8px;
    left: 20px;
}

.navbar .nav>li>.dropdown-menu>li:last-child a:hover{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.navbar .nav>li>.dropdown-menu>li:first-child a:hover{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.navbar .nav>li:hover>.dropdown-menu{  
    display: block;        
}

.navbar .nav>li{
    border-bottom: transparent solid 1px;
}

.navbar .nav>li> a:hover{
    background-color: #D2D7D3;
}

/*FOOTER*/
.article-footer{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-right: #CCCCCC dotted 1px;
    margin-top: 30px;
    color: lightgray;    
    text-align: center;
    min-height: 100px;
}

#footer-main div:last-child>.article-footer{
    border-right: none;
}

/*loading*/
div#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 18;  
    -moz-transition: all linear 0.5s;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display: block;    
}

#loading>#load-animation{
    margin: auto;
    margin-top: 15%;
    width: 300px;     
}

#gif{
    background-image: url('assets/gifs/ANIMACION4.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 281px;
}

.load-hidden{     
    opacity: 0;
}

/*Carrusel*/
.carousel-control.right,.carousel-control.left{
    background: none !important;
    z-index: 12;
}

/*full-container*/
.full-container{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.carousel-control .icon-next:before{    
    color: black;
}

.carousel-control .icon-prev:before {
    color: black;
}

.carousel-indicators li {
    border: 1px solid gray;
}

.carousel-indicators .active {
    background-color: #8CC152;
}

.carousel-caption{
    color: inherit !important;
    text-shadow: none !important;
    left: 0 !important;
    top: 15%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

/*BANER*/
.title-banner{
    color: #6C7A89;
}

.paragrap-banner{
    font-size: 19px;
    color: #6C7A89;
    text-align: justify
}

.banner-main{
    height: 180px;    
}

.container-img-banner{
    display: block; 
    position: absolute;  
}

.img-banner{
    width: 340px;
    margin-top: 5px;
}

/*Thumbnail*/
.thumbnail{
    min-height: 500px;
}

.thumbnail > div.caption{
    min-height: 205px;
}

.thumbnail > div.caption>p.justify{
    min-height: 100px;    
}

/*DEFAULT METRICS*/

.top-default{
    margin-top: 25px;
}

.justify{
    text-align: justify;
}

.border-left{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0 !important;
}

.panel-nav{
    background-color: white !important;
    opacity: 0.97;
}

.border-right{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; 
}

.main{
    padding-bottom: 30px;
    margin-left: -6px;
    min-height: 550px !important;
    background-color: white !important; 
    margin-top: 8px !important;
    margin-right: -16px;
    -webkit-box-shadow: 1px 3px 10px #999 !important;
    -moz-box-shadow: 1px 3px 10px #999 !important;
    opacity: 0.97;
}

.adjust-text{
    padding-left: 80px;
    padding-right: 80px;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

.adjust-img{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.adjust-text-general{
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

.panel-nav{
    min-height: 450px;
    background-color: white; 
    margin-top: 8px;
    -webkit-box-shadow: -1px 3px 10px #999;
    -moz-box-shadow: -1px 3px 10px #999;
}

/*Custom Nab-tabs*/

.nav-tabs>li>a:hover {
    cursor: pointer;    
}

.nav-tabs>li.active>a {
    font-weight: 600;
    font-size: 16px;
}

.nav-tabs>li>a {
    font-size: 16px;
    font-weight: 600;
}

.nav-tabs {
    border-radius: 0 !important; 
    -webkit-border-radius: 0 !important; 
    -moz-border-radius: 0 !important;

    border-top-right-radius: 25px !important;
    -webkit-border-top-right-radius:25px !important;
    -moz-border-top-right-radius:25px !important;
}

.nav-tabs>li:first-child>a {
    border-radius:0 !important;
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
}

.red{
    background-color: springgreen !important;
}

/*Grid-Img*/
.grid-img{
    margin-left: 40px;
    margin-top: 30px;
    padding: 0;
}

img.item-grid-img:hover{
    box-shadow: 0px 3px 10px #999 ;
    -webkit-box-shadow: 0px 3px 10px #999 ;
    -moz-box-shadow: 0px 3px 10px #999 ;
}

img.item-grid-img{
    width: 150px;
    margin: 2px;
    border-radius: 5px;
}

.zoom{

}
.zoom:hover{
    transform : scale(1.2);
    -moz-transform : scale(1.2); /* Firefox */
    -webkit-transform : scale(1.2); /* Chrome - Safari */
    -o-transform : scale(1.2); /* Opera */
    -ms-transform : scale(1.2); /* IE9 */
}

/*Menu flotante*/
.float-menu{
    padding-top: 45px;
    padding-bottom: 45px;
}

.fixed{
    position: fixed;
}

.item-float{
    display: block;
    background-color: #EBEFF0;
    margin-bottom: 5px;
    padding: 5px;
    color:#6C7A89;
    padding-left: 20px;
}