<div class="container">
    <div class="row">
        <div class="col-md-4">
            <article class="article-footer">

            </article>
        </div>
        <div class="col-md-4">
            <article class="article-footer">
                <a href="#/home">Politica de Seguridad</a>
            </article>
        </div>
        <div class="col-md-4">
            <article  ng-controller="languaje" class="article-footer">
                <a  ng-click="changeLanguage('en')" ng-show="idioma === 'es'">
                    <i class="fa fa-flag-o" style="color: #D3D3D3"></i> English?</a> 
                <a  ng-click="changeLanguage('es')" ng-show="idioma === 'en'">
                    <i class="fa fa-flag-o" style="color: #D3D3D3"></i> Español?</a>
            </article> 
        </div>
    </div>
</div>
